h1 {
    color: black;
    text-align: center;
    background-color: lightgray;
    font-style: italic;
  }
  
  .hobbies {
    list-style-type: none;
    padding: 0;
    background-color: aliceblue;
  }
  
  .hobbies li {
    margin-bottom: 10px;
    color: grey;
    text-align: center;
    margin-right: 10px;
    justify-content: space-between;
  }
  img{
    width: 200px;
    margin-right: 10px;
    justify-content: space-between;
  }